.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

.vscode/

**/ms-playwright/
**/playwright-install/

.DS_Store

*.log

stocks/stocks_price_data/
stocks/stocks_info/
crypto/crypto_price_data/
commodities/commodities_price_data/
commodities/commodities_info/

stocks/tickers/
crypto/tickers/
commodities/tickers/

tmp/
temp/